@import "theme_variables";

/* Preset Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

/* Main Brand Menu */
.sleekpage-header {font-family: 'Montserrat',sans-serif;height: 70px; background-color: #9bd4b5;background-image: linear-gradient(170deg,rgba(27,169,225,.4),transparent 60%),linear-gradient(50deg,transparent,rgba(109,194,237,.15) 25%,rgba(109,194,237,.5) 70%,#6dc2ed 95%);}
.sleekpage-header a {color:#FFF;}
.sleekpage-header .bm-mh-head img {height: 50px;margin-top:10px;margin-left:30px;}
.sleekpage-header .bm-mh-head .bm-mh-head-menu {float: right;height: 30px; line-height: 30px;margin: 20px 30px; transition: all 1s ease;}
.sleekpage-header .bm-mh-head .bm-mh-head-menu a {margin-right: 20px; font-weight: 600;}
.sleekpage-header .bm-mh-head .bm-mh-head-menu a.sign-in {margin-right: 0px; font-weight: 600;border: 2px solid #FFF;padding: 10px 20px;border-radius: 5px;}
.sleekpage-header .bm-mh-head .bm-mh-head-menu a.sign-up {margin-right: 0px; font-weight: 600; border: 2px solid #FFF; padding: 10px 20px; border-radius: 5px;background: #fff;color: var(--txt-color-dark, #4e566d);display: none;}
.sleekpage-header .bm-mh-head .bm-mh-head-menu-mobile {display:none;}

/* Forum => Header */
.d-header>.wrap {max-width: 100%;margin: 0 20px;}

/* Forum => Buttons */
.btn {border-radius: 5px;}
.btn#create-topic {background: #6dc2ed;color: #FFF;border-radius: 5px;padding: 10px;margin: -5px 0;}

/** 
* ********************
* Responsive
* ********************
*/

@media only screen and (max-width: 800px) {

  /* Mobile Menu */
  .sleekpage-header .bm-mh-head .bm-mh-head-menu-mobile {position: absolute;right: 0px;top: 0px;height: 70px;line-height: 70px;display:block;}
  .sleekpage-header .bm-mh-head .bm-mh-head-menu-mobile svg {width: 25px!important;height: 25px!important;color: #FFFFFF;display: block;line-height: 70px;cursor: pointer;margin: 22.5px;position: relative;z-index: 10000000;}
  .sleekpage-header .bm-mh-head .bm-mh-head-menu {position: absolute;top: 0px;padding-top: 70px;margin: 0px;width: 100%;z-index: -1;opacity: 0;height: 0px;overflow: hidden;}
  .sleekpage-header .bm-mh-head .bm-mh-head-menu a {display: block;text-align: center;background: #FFF;color: #000;margin: 0;line-height: 60px;border-bottom: 1px solid #eee;}
  .sleekpage-header .bm-mh-head .bm-mh-head-menu.open {opacity: 1;height: auto;z-index: 10000;}
  .sleekpage-header .bm-mh-head .bm-mh-head-menu a.sign-in {margin: 0px;padding: 0px;border-radius: 0px;border: 0px;border-bottom: 1px solid #eee;margin-right: 0px!important;border-color: #eee!important;}

}